body{
    background-color: beige;
}
div{
    width: 600px;
    height: 500px;
    background-color: blanchedalmond;
    color: brown;
    margin:25px auto;
    border: 2px solid black;
}
h1{
    color: white;
    background-color: black;
    text-align: center;
}
