body{
    background-color: beige;
    text-align: center;
}
div{
    width: 600px;
    height: 2700px;
    background-color: blanchedalmond;
    color: brown;
    margin:25px auto;
    border: 2px solid black;
}